{% extends "portfolio/base.html" %}

{% load static %}

{% block body_block %}


<div class="photo" >
	<span style="font-family: 'Permanent Marker', cursive;padding-top: 10px;">
		ASHIWN S WALUNJ
	</span>
</div>
<h2 style="text-align:center;font-family: 'Permanent Marker', cursive;padding-top: 10px;">FULL STACK DEVELOPER</h2>

	<div  style="text-align:center;font-family: 'Source Code Pro', monospace;margin-top: 40px;" id="skill">
		<div class="jumbotron jumbotron-fluid">
		  <div class="container">
		    <h1 style="margin-bottom:20px;top: 0px;">SKILLS</h1>
			<div class="container">
				<p>JAVA</p>
			  	<div class="skills java ">80%</div>
			</div>

			<div class="container">
				<p>HTML</p>
			  	<div class="skills html">90%</div>
			</div>

			<div class="container">
				<p>CSS</p>
			  	<div class="skills css">80%</div>
			</div>
			
			<div class="container">
				<p>JavaScript</p>
			  	<div class="skills js">65%</div>
			</div>
			
			<div class="container">
				<p>PHP</p>
			  	<div class="skills php">60%</div>
			</div>

			<div class="container">
				<p>BOOTSTRAP</p>
			  	<div class="skills bootstrap bg-info">80%</div>
			</div>

			<div class="container">
				<p>MYSQL</p>
			  	<div class="skills mysql bg-dark">90%</div>
			</div>

			<div class="container">
				<p>DJANGO</p>
			  	<div class="skills django bg-warning">40%</div>
			</div>
		  </div>
		</div>
	</div>

	<div class="row" style="text-align:center;font-family: 'Source Code Pro', monospace;margin-top: 40px;margin-bottom: 40px;" id="project">
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<h3>Java</h3><br>
			<span>
				I have been working with java programming language since my second year and have deep knowledge regarding OOP's concepts.I and my team have also worked on mini-project named as shop management using java and even were succesfull in implementing it.
			</span>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<h3>Django</h3><br>
			<span>
				I developed my intrest for learning django framework which is widely used in building web application and web sites.I aslo developed a HumanSkin tone detector webapp while pursuing an internship with Zebo.AI with a group of 20.
			</span>
		</div>	
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<h3>Web Technology</h3><br>
			<span>
				Working in this domain for last two years and mastered technologies like HTML,CSS,JS and backend with PHP and MySQL.Pursued intenships in role of web-developer and front-end developer in Inventrom company and Zebo.AI.	
			</span>
		</div>	
	</div>

	<hr style="border: 1px solid black;width: 50%;">

	<h2 style="margin-bottom: 40px;font-family: 'Source Code Pro', monospace;text-align: center;">PROJECTS</h2>

	<div class="row" style="font-family: 'Source Code Pro', monospace;margin-top: 40px;margin-bottom: 40px;">
		<div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12" >
			<div class="card text-center text-white bg-info mb-3" style="width: 18rem;">
			  <div class="card-body">
			    <h5 class="card-title">Landing page</h5>
			    <hr style="border: 1px solid white;width: 50%;">
			    <h6 class="card-subtitle mb-2 text-muted">Apr 2021 - Apr 2021</h6>
			    <p class="card-text">In this project, I have created a landing page for the educational institute Walunjclasses for the CET/NEET crash course advertisement. I have used the technologies like HTML, CSS, and frameworks like bootstrap.
				</p>
			    <button class="btn btn-warning">
				    <a href="https://aw12067.github.io/landing_page/" target="_blank" class="card-link" style="color:black">Project link</a>
				</button>
			  </div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12" style="justify-content: center;">
			<div class="card text-center text-white bg-info mb-3" style="width: 18rem;">
			  <div class="card-body">
			    <h5 class="card-title">Inventrom</h5>
			    <hr style="border: 1px solid white;width: 50%;">
			    <h6 class="card-subtitle mb-2 text-muted">Mar 2021 - Mar 2021</h6>
			    <p class="card-text">This is an Internship project, in which I created a website for the inventromcompany located in Bangalore. I have used HTML5, CSS, JS in the project, the	project Is completed by me only</p>
			    <button class="btn btn-warning">
				    <a href="https://source-change.hostatic.com/" target="_blank" class="card-link" style="color:black">Project link</a>
				</button>
			  </div>
			</div>
		</div>	
		<div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12" >
			<div class="card text-center text-white bg-info mb-3" style="width: 18rem;">
			  <div class="card-body">
			    <h5 class="card-title">Website for walunj classes</h5>
			    <hr style="border: 1px solid white;width: 50%;">
			    <h6 class="card-subtitle mb-2 text-muted">Aug 2020 - Sep 2020</h6>
			    <p class="card-text">My dad is a Professor. He runs private tuitions for classes 11 and 12. So I created a website that would display our institute's performance and advertise it more.</p>
			    <button class="btn btn-warning">
				    <a href="https://aw12067.github.io/web_site" target="_blank" class="card-link" style="color:black">Project link</a>
				</button>
			  </div>
			</div>
		</div>	
		<div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12" >
			<div class="card text-center text-white bg-info mb-3" style="width: 18rem;">
			  <div class="card-body">
			    <h5 class="card-title">Article Analyzer</h5>
			    <hr style="border: 1px solid white;width: 50%;">
			    <h6 class="card-subtitle mb-2 text-muted">June 2021 - July 2021</h6>
			    <p class="card-text">I have created a django application which read the text provided by the user and analyzes it at backend and displays the result.</p>
			    <button class="btn btn-warning">
				    <a href="#" target="_blank" class="card-link" style="color:black">Project link</a>
				</button>
			  </div>
			</div>
		</div>
	</div>


{% endblock %}